.breadcrumNav {
    background-color: rgb(233, 230, 230);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;

    li {

        &:nth-child(odd) {
            background-color: rgb(187, 186, 186);;
            border-radius: 20px;

        }
        
        a {
            color: black;
            padding: 10px 20px;
            font-size: 20px;
            text-decoration: none;
            font-weight: bold;
    
            &:hover {
                background-color: red;
                border: none;
                border-radius: 2px;
            }
        }
        
        span {
            padding: 10px 20px;
        }
    }

}