.breadcrumNav {
    background-color: rgb(233, 230, 230);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;

    a {
        color: black;
        padding: 10px 20px;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            background-color: red;
            border: none;
            border-radius: 2px;
        }
    }
}