.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 32px;
        font-weight: bold;
        margin: 0, 20px;
        padding: 20px;
    }

    img {
        width: 800px;
        height: 400px;
        margin: 20px 50px;
        display: flex;
    }

    p {
        margin: 20px 50px;
        max-width: 800px;
    }

    .description {
        line-height: 2em;
        width: 100%;
        display: flex;
    }





}