.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    width: 72%;
    font-size: 20px;
    margin: 20px;

    h1 {
        font-size: 30px;
        font-weight: bold;
        padding: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    h2 {
        font-size: 25px;
        font-weight: bold;
        padding: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    img {
        padding: 15px;
    }
    
    p {
        font-family: 'Times New Roman', Times, serif;
        padding: 15px;
        
    }

    .first-row{
        font-weight: bold;
    }


}