.tableOne {
    flex-grow: 1;
}

.tableTwo {
    flex-grow: 4;
}

.tableThree {
    flex-grow: 3;
}

.detail {
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 50px;

    h1 {
        font-weight: bold;
        font-size: 60px;
    }
}

.details_div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.details_div_info {
    border: black 1px solid;
    border-radius: 9px;
    background-color: rgba(255, 255, 0, 0.721);
    width: 15%;
    height: auto;
    font-size: 16px;
    text-align: center;
}

.detail_table {
    border: black 1px solid;
    border-collapse: collapse;
    border-radius: 5px;
    max-width: 1000px;
    width: 90%;
    text-align: center;
    padding: 9px;

    thead {
        tr &:first-child {
            th {
                color: black;
            }
        }

        th {
            border-bottom: white 3px solid;
            font-weight: bold;
            padding: 15px;
            background-color: red;
            color: white;
            font-size: 25px;
        }
    }

    tbody {
        tr {

            td {
                border: rgb(177, 177, 177) 3px solid;
                padding: 9px;
                font-size: 20px;
                font-weight: 600;

            }

            &:nth-child(odd) {
                background-color: white;
            }

            &:nth-child(even) {
                background-color: rgb(233, 230, 230);
            }

        }

        span {
            display: flex;
            align-items: center;

            .flag {
                padding-right: 10px;
            }
        }
    }
}