.main-navigation {
    background-color: red;

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            display: block;
            color: #fff;
            padding: 20px;
            text-decoration: none;

            &.active {
                background-color: grey;
                border: none;
            }
        }
    }
}



.Cards {
    margin-top: 40px;
    padding: 12px;
    width: 100%;
    background-color: rgb(204, 183, 183);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clicable {
    cursor: pointer;
}

.footer {
    background-color: red;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;

    a {
        color: #fff;
        text-decoration: none;
    }

}

.card1{
    width: 80%;
}