.main-navigation {
    background-color: red;

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            display: block;
            color: #fff;
            padding: 20px;
            text-decoration: none;

            &.active {
                background-color: grey;
                border: none;
            }
        }
    }
}



.Cards {
    margin-top: 40px;
    padding: 12px;
    width: 100%;
    background-color: rgb(204, 183, 183);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.details_div {
    display: flex;
    justify-content: space-around;
      
}

.tableOne {
    flex-grow: 1;
}

.tableTwo {
    flex-grow: 4;
}

.tableThree {
    flex-grow: 3;
}

.details_div_info{
    border: black 1px solid;
    border-radius: 9px;
    background-color: #e439398c;
    width: 25%;
    height: 20%;
}

.detail_table {
    border: black 1px solid;
    border-collapse: collapse;
    border-radius: 5px;
    width: 70%;

    thead {
        
        th {
            border: black 1px solid;
            padding: 10px;
            background-color: #cccccc8c;
        }
    }

    tbody {
        tr {
            border: black 1px solid;
            padding: 8px;

            td {
                border: black 1px solid;
            }

            &:nth-child(even) {
                background-color: #ccc;
            }

        }
    }
}

.clicable {
    cursor: pointer;
}

.footer {
    background-color: red;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;

    a {
        color: #fff;
        text-decoration: none;
    }

}

.card1{
    width: 80%;
}