@use "reset";
@use "_slider";
@use "_footer";
@use "_main_component";
@use "_card-content";
@use "_bread_crumbs";
@use "_live.scss";
body {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container {
  min-height: calc(100vh - 84px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-navigation {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navigation .logo-container {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation .logo-container .logo {
  width: 200px;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-navigation ul a {
  color: #fff;
  padding: 17px 20px;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}

.main-navigation ul a:hover {
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.main-navigation ul a.active {
  background-color: grey;
  border: none;
}

.search_nav {
  padding: 0 10px;
}

.search_nav li {
  padding: 0 10px;
}

.card-container {
  width: 100%;
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-bottom: 0 50px;
  margin-bottom: 15px;
}

.card-container a {
  text-decoration: none;
}

.card-container a:hover {
  text-decoration: underline;
}

.card {
  -webkit-box-shadow: 25px 25px, 2em, red;
          box-shadow: 25px 25px, 2em, red;
  border: 1px, solid, #e6dede;
  width: 180px;
  max-height: 250px;
}

.card:hover {
  color: red;
  width: 200px;
  -webkit-box-shadow: 0 0 10px 1px #fa1b0f;
          box-shadow: 0 0 10px 1px #fa1b0f;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.clickable span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_div {
  height: 66px;
}

.first_place {
  background-color: yellow;
}

.second_place {
  background-color: silver;
}

.third_place {
  background-color: orangered;
}

.forth_place {
  background-color: lightgreen;
}

.fifth_place {
  background-color: lightblue;
}

.fisrt_ten_place {
  background-color: thistle;
}

.other_place {
  background-color: darkgrey;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  position: relative;
  text-align: center;
  color: #fff;
}

.slider img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

.slider .bottom-left {
  position: absolute;
  width: 100%;
  background-color: rgba(249, 3, 3, 0.8);
  bottom: 0;
  padding: 20px;
}

.slider a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.slider aa:visited {
  color: red;
}

.slider a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */